# Ignore virtual environment
venv/

# Ignore pipenv virtual environment
Pipfile
Pipfile.lock

# Ignore Django migrations
/migrations/

# Ignore database files
db.sqlite3

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.db
